.projects_card{
    border:1px solid black;
    width: fit-content;
    height:fit-content;
    padding-top:2%;
    margin:1% 2%;
    padding-left:2%;
    background:linear-gradient(to left,red,yellow);
}
.projects_card:hover{
    transform:scale(1.1);
    
}

.developers_card{
    border:1px solid black;
    width: fit-content;
    height: fit-content;
    margin:1% 23%;
    background: linear-gradient(to left,red,yellow);
}
.developers_card:hover{
    transform:scale(1.1);
}

.task_card{
    border:1px solid black;
    width: fit-content;
    height: fit-content;
    padding:1% 2%;
    margin:1% 40%;
}
.task_card:hover{
    transform:scale(1.1);
}


